<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Title</title>
</head>
<body>
    <form method="post">
        <textarea>test test test test test test test test test test test test test test test test test test test test test test test test </textarea>
        <table>
            <tr>
                <td>username</td>
                <td><input name="user"/></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="password" name="pswd"/></td>
            </tr>
            <tr>
                <td><button>Submit</button></td>
            </tr>
        </table>

    </form>
</body>
</html>